# rclone drive location for rpie-preservatives to backup to.
# rclone_drive="retropie-backup:retropie-backup"
rclone_drive="retropie-backup:retropie-backup"
# path to the location of your roms. This directory should have the 
# individual systems as subpaths. 
# roms_path="${HOME}/RetroPie/roms/"
roms_path="${HOME}/RetroPie/roms"
# if "true", the save states will be synced. false by default due to
# save states being somewhat unreliable and larger in size than the 
# battery saves in most cases.
sync_save_states="false"
